---
layout: home
title: Latest Posts
seo_title: "Logical Bee - Apply Your Right Logic"
seo_description: "I’m a Freelance Marketer."
keyword: Online Business
priority: 1.0
changefreq: 'daily'
date: 2021-07-02
---



<li>
    <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <span>
                {% if post.created %}
                    updated: {{ post.date | date_to_string }}
                {% else %}
                    {{ post.date | date_to_string }}
                {% endif %}
            </span>
        </a>
    </h3>

    {% if include.show_summary == true and post.summary %}
        <p>{{ post.summary | remove: '<p>' | remove: '</p>' }}
        <a class="nowrap" href="{{ post.url }}">Full details &hellip;</a></p>
    {% endif %}
</li>
