<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}">
  </data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <a href="/contact">
          <button class="dark">contact</button>
        </a>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col-3">
        {% include social.html %}
        <div class="copyright">© 2021 Logical Bee</div>
      </div>
    </div>

  </div>

</footer>
