<head>
<meta charset="utf-8" />
<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
{% seo %}
<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
<!-- Icons -->
<link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">
<!-- RSS -->
{% feed_meta %}

<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>

</head>
