<head>
<meta charset="utf-8" />
<!-- Enable responsiveness on mobile devices-->
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
<meta name="theme-color" content="#317EFB"/>
{% seo %}
<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
<!-- RSS -->
{% feed_meta %}
<!--   Adsense Script  -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
