
<div class="navigation">
    {%if include.border_top == true %}
    <hr class="border-top">
    {% endif %}

    {%if page.url == '/' %}
    Home |
    {% else %}
    <a href="/">Home</a> |
    {% endif %}

    {%if page.url == '/archive/' %}
    Archive |
    {% else %}
    <a href="/archive/">Archive</a> |
    {% endif %}

    <!-- {%if page.url == '/categories/' %}
    Categories |
    {% else %}
    <a href="/categories/">Categories</a> |
    {% endif %} -->

    {%if page.url == '/tags/' %}
    Tags
    {% else %}
    <a href="/tags/">Tags</a>
    {% endif %}

    {%if include.border_top != true %}
    <hr class="border-bottom">
    {% endif %}
</div>