.content a {
  color: cyan;
  border-bottom: 1px solid cyan;
}

hr {
	border-top: 2px dashed var(--white-2)!important;
	border-bottom: none!important;
	border-left: none!important;
	border-right: none!important;
	margin-bottom: 1.75rem!important;
}

.advert-inline {
	margin: 6rem 0 4rem 0;
	padding: 1rem 0 1rem;
  }