<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <main>
      {{ partial "header.html" . }}
      <section class="article">
        <div class="article-header">
          <h1 class="article-title">{{ .Title }}</h1>
          <small class="date">{{ .Date.Format "Mon Jan 2, 2006" }}</small>
          <div class="tags">
            {{ range $.Params.tags }}
            <a href="{{site.BaseURL}}tags/{{ . }}" class="tag">{{ . }}</a>
            {{ end }}
          </div>
        </div>
        <div class="content">{{ partial "adsense-inarticle.html" . }} {{ .Content }} {{ partial "adsense-inarticle.html" . }}</div>
      </section>
      {{ partial "footer.html" . }}
    </main>
  </body>
</html>
