---
layout: default
---

<div class="post">

  {% include navigation.html %}

  <h1 class="post-title">{{ page.title }}</h1>

  <span class="post-date">
    {% if page.lastmod %}
       updated: {{ page.lastmod | date_to_string }}
    {% else %}
       {{ page.date | date_to_string }}
    {% endif %}
  </span>

  {% unless page.categories.size == nil and page.tags.size == nil and page.version == nil %}
  <div class="post-meta">
    {% unless page.categories.size == nil %}
      <span>Categories:
      {% for item in page.categories %}
      <a href="{{ site.baseurl }}/categories#{{ item | slugify }}">{{ item }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
      </span>
    {% endunless %}

    {% unless page.tags.size == nil %}
      <span>Tags:
      {% for item in page.tags %}
      <a href="{{ site.baseurl }}/tags#{{ item | slugify }}">{{ item }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
      </span>
    {% endunless %}

    {% unless page.version == nil %}
    Version: {{ page.version }}
    {% endunless %}
  </div>
  {% endunless %}


  <!--{% unless page.summary == nil %}-->
  <!--<div class="post-summary">-->
    <!--{{ page.summary }}-->
  <!--</div>-->
  <!--{% endunless %}-->

  <div class="post-content">
    {{ content }}
  </div>

  {% unless page.links.size == nil %}
  <div class='post-links'>
    <h4>Further reading:</h4>
    <ul>
      {% for item in page.links %}
      <li><a href="{{ item.link }}">{{ item.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endunless %}

  <div class="next-previous-post">
    <span>
      {% if page.previous.url %}
      <a class="previous-post" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% else %}
      &nbsp;
      {% endif %}
    </span>
    <span>
      {% if page.next.url %}
      <a class="next-post" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% else %}
      &nbsp;
      {% endif %}
    </span>
  </div>

</div>


