---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-date">{{ page.date | date_to_string }}</p>
  <div class="tweet-button">
  <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="horizontal" data-via="Logicalbee" data-url="{{ post.url }}" data-text="{{ page.title }}">Tweet</a>
</div>
  {{ content }}

<h4>Useful..?</h4>
<a href="https://www.buymeacoffee.com/logicalbee" target="_blank">Buy me a coffee :)</a>

<aside class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h4>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
</aside>
