---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% if page.image %}
      <img class="post-banner" src="{{page.image}}" alt="{{page.title}}" width="1248" height="340" />
    {% endif %}
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <p class="post-intro">{{page.intro}}</p>
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  <p class="post-meta">
    <span>Published on </span>
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {{ page.date | date: date_format }}
    </time>
  </p>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div class="separator"></div>
<br />

{% include author.html %}
